/**/**/.\#*
/.emacs.d/session.*
/.emacs.d/auto-save-list/*
/.emacs.d/url/cookies
/.emacs.d/elpa/archives/*/archive-contents
*.elc
/.mlterm/challenge
/.mlterm/msg.log
.DS_Store
*#
GPATH
GRTAGS
GTAGS
Procfile.development
